<div>
    <h2>
        Todo listo para trabajar con socket!
    </h2>
</div>



{{!-- sweet alert2 --}}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

{{!-- Primero socket --}}
<script src="/socket.io/socket.io.js"></script>


{{!-- Segundo script .js de la carpeta public o cliente --}}
<script src="/js/index.js"></script>